{% extends 'main/layout.html' %}
{% block title %}
    Выгрузка отчетов
{%endblock%}
{% block content %}
    <h1>Выгрузка ваших отчетов</h1>
    <p>Ваши отчеты:</p>
        <ul>
            {% for download_document in download_list %}
                <li>
                    Название: {{download_document.descriptions}} <br>
                    Дата: {{download_document.date_upload}} <br>
                    файл:
                    <a href="{{ download_document.document.url }}" download="{{ download_document.document.url }}">
                        {{download_document.descriptions}}
                    </a>
                    <a href="{{ download_document.slug }}/detail">Детали</a>
                    <a href="{{ download_document.slug }}/delete">Удалить</a>
                </li>
            {% endfor %}
        </ul>
{% endblock %}