{% load static %}
{% load cache %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    {% cache 50000 sidebar %}
    <aside>
        <img src="{% static 'main/img/ddd2.png' %}" alt="Золотой шарик из гарри потера">
        <span class="logo">Бухгалтерия</span>
        <ul>
            <a href="{% url 'indexView' %}"><li> <i class="fas fa-home"></i> Главная</li></a>
            <a href="{% url 'document_upload' %}"><li> <i class="fa fa-arrow-circle-up"></i> Загрузка отчета</li></a>
            <a href="{% url 'documentAll' %}"><li> <i class="fa fa-arrow-circle-down"></i> Выгрузка отчета</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fas fa-home"></i> Отчеты</li></a>
            <a href="{% url 'valuteAll' %}"><li><i class="fas fa-home"></i> Курсы валют</li></a>
            <a href="{% url 'news_create' %}"><li> <i class="fa fa-arrow-circle-up"></i> Добавить отчет</a>
        </ul>
    </aside>
    {% endcache %}
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>