{% extends 'main/layout.html' %}
{% block title %}
    отчёты
{%endblock%}
{% block content %}
    <div class="features">
        <h1>отчёта</h1>
        {% for n in news %}
            {% if date_now >= n.date %}
                <h2>{{ n.title }}</h2>
                <h4>{{ n.anons }}</h4>
                <p>{{ n.full_text }}</p>
                <a href="{% url 'NewsDetailView' n.slug %}" class="btn btn-warning">Читать детальнее</a>
            {% endif %}
        {%endfor%}
        <br>
    </div>
{% endblock %}